.image-upload-label {
    display: block;
    margin-bottom: 10px;
}

.image-upload-input {
    display: none;
}

.image-upload-selected-file {
    margin-top: 10px;
}

.image-upload {
    top: 0;
}

.input-field {
    padding: 5px;
}

.input-field input {
    vertical-align: middle;
}