.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px;
    background-color: #f0f0f0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    background-color: white;
}

.sidebar.open {
    left: 0;
}

.sidebar__menu {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.sidebar__menu-item {
    margin: 10px;
    margin-right: auto;
    font-size: 18px;
}

.sidebar__menu-item a {
    color: #333;
    text-decoration: none;
}

.sidebar__menu-item a:hover {
    color: #000;
}

button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: rgb(22, 165, 58);
    color: #fefefe;
}

.menubutton {
    min-width: auto;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: rgb(22, 165, 58);
    color: #fefefe;
    float: right;
}

button:hover {
    background-color: rgb(6, 73, 11);
    color: #fefefe;
}


/* Calendar container styles */

.calendar-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Header styles */

.fc-today-button+.fc-toolbar-chunk {
    margin-right: auto;
}

.fc-today-button~.fc-toolbar-chunk {
    margin-right: 15px;
}


/* Scrollbar styles */

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


/* Day styles */

.fc-day-header {
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    font-weight: bold;
}

.fc-day-top {
    border-bottom: 1px solid #ddd;
}


/* Event styles */

.fc-event {
    background-color: #5cb85c;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}


/* Today styles */

.fc-today {
    background-color: #f5f5f5;
}

.fc-today .fc-day-number {
    color: #5cb85c;
}

.full-calendar-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #5cb85c;
}

.fc-view-container {
    border: 1px solid black;
}

.fc-view-harness {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.fc .fc-button-primary:disabled {
    background-color: #2c3e50;
    border-color: #2c3e50;
    opacity: 80;
    padding-bottom: 5px;
    padding-right: 5px;
}